<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<title>MyApp</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

	<form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
	
	<p>
    Create new user:
	<form th:action="@{/user}" th:object="${newUser}" method="post">
		<div><label> Name: <input type="text" name="name"/></label></div>
		<div><label> Surname: <input type="text" name="surname"/></label></div>
		<div><label> Age: <input type="number" name="age" min="7"/></label></div>
		<div><input type="submit" value="Add"/></div>
	</form>
	</p>
    
    <p>
    <table>
     Users:
	    <tr>
	    	<td>ID</td>
	    	<td>Name</td>
	    	<td>Surname</td>
	    	<td>Age</td>
	    	<td>Rented books</td>
	    </tr>
    	<tr th:each="user : ${users}">
    		<td th:text="${user.id}"></td>
    		<td th:text="${user.name}"></td>
    		<td th:text="${user.surname}"></td>
    		<td th:text="${user.age}"></td>
    		
    		<td>
    			<table>
    				<tr th:each="rentedBook : ${user.rentedBooks}">
    					<td th:text="${rentedBook.title}"> </td>
    					</tr>
    			</table>
    		</td>
    		
    		<td> 
    		<form th:action="@{/user/} + ${user.id}" th:method="get" th:object="${user}">
    			<button name="edit">Edit</button>
    		</form>
    		</td>
    		<td>
    		<form th:action="@{/user?id=} + ${user.id}" th:method="delete" th:object="${user}">
    			<button name="delete">Delete</button>
    		</form>
    		</td>
    	</tr>
    </table>
    </p>
 
	

</body>
</html>